@font-face{
    font-family: zpix;
    src:url(./font/zpix.woff2?zpix--local) ;
}

:root{
    --error-color:#e74c3c;
}

*{
    box-sizing: border-box;
}


body{
    background-color: #fff;
    margin:0;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height:100vh;
    font-family: zpix;
    font-size: 18px;
    font-weight: 1000;
    scroll-behavior: smooth;
    overflow: hidden;
}


h1{
    color:#000;
}

.addContainer{
    margin:10px 30px 0;
    width:700px;
    display:flex;
    align-items: center;
    justify-content: center;
    
}


.nes-input{
    margin-right:20px;
    outline:0;
    background-color: #fff;
}

.warn{
    width:700px;
    margin:0;
    padding:0 5px 0;
}

.warn small{
    color:var(--error-color);
    visibility:hidden;
}

.warn.error small{
    visibility: visible;
}

.nes-container.is-rounded{
    margin:0 30px 10px;
    width:700px;
    height:600px;
    overflow: auto;
    background-color: #fff;
}

.list{
    list-style-type: none;
    padding:0;
    margin-bottom:30px;
}

.list li{
    margin:0;
    padding:20px 10px 5px;
    display:flex;
    justify-content: space-between;
   
}

.list li:not(:last-of-type){
    border-bottom: 1px solid #bbb;
}

.nes-icon.close.is-small.nes-pointer{
    opacity:0;
    transition: opacity 0.3s ease;
}

.list li:hover .nes-icon.close.is-small.nes-pointer{
    opacity: 1;
}

.completed{
    color:#bbb;
    text-decoration: line-through solid #bbb 2px;
}

.progress{
    margin:0;
    padding:0;
    width:700px;
    height:150px;
}

.slider{
    display: flex;
    align-self: center;
    justify-content: space-between;
    position: absolute;
    width:700px;
    
}

.nes-kirby{
    margin:0;
    padding: 0;
}

.progress progress{
    position: relative;
    left:0px;
    top:25px;
    width:570px;
}

.icons .nes-icon.coin{
    position: relative;
    left:30px;
    opacity: 0;
}
